.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .cart-items {
    height: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    .empty-text{
      text-align: center;
      margin-top:  4rem;
    }
  }

  button {
    margin-top: auto;
  }
}
